body {
    margin: 0;
}

.global-msg {
    background: rgba(242, 13, 13, 0.84);
    padding: 8px 0;
}

.container {
    width: 80%;
    margin: auto;
}

a {
    text-decoration: none;
}

.btn {
    background-color: rgb(205, 76, 12);
    border: 1px solid rgba(255, 68, 0, 0.362);
    padding: 5px 15px;
    float: right;
}

/* ===== global message */
.gbl-content {
    display: flex;
    color: white;
    justify-content: space-between;
}

.gbl-content a {
    color: white;
}

/* ===== top menu */
.nav-bar {
    background: rgba(159, 175, 142, 0.853);
    color: #eff4f6;
}

.top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li {
    margin-left: 16px;
}

.menu ul li:hover {
    background: orangered;
    cursor: pointer;
}

/* hero section */
.hero {
    height: 60vh;
    background: url(img/travel.jpg) no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: left;
    align-items: center;
}

.hero-content {
    color: rgb(140, 12, 12);
    padding: 16px 32px;
    width: 350px;
    text-align: left;
    border-radius: 10px;
}

.hero-content p {
    font-size: 20px;
    color: #043f17;
}

.about {
    height: 80vh;
    background: url(img/travel.jpg) no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: right;
    align-items: center;

}

.about-content {
    color: rgb(3, 25, 39);
    padding: 16px 32px;
    width: 400px;
    text-align: left;
    border-radius: 10px;
    background: #5d5050;
   
}
.about-content h1 {
  /* Heading styles */
  font-size: 2.5em;
  margin-bottom: 10px;
  color: #333;
}
.about-content p{
  /* Heading styles */
  font-size: 1em;

}

.contact {
    height: 80vh;
    background: url(img/travel.jpg) no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: right;
    align-items: center;

}

.contact-content {
    color: rgb(12, 9, 9);
    padding: 16px 32px;
    width: 400px;
    text-align: left;
    border-radius: 10px;
    background: #5d5050;
   
}
.contact-content h1, p {
  /* Heading styles */
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #e6e4ea;
}



/* main content */
.main {
    display: flex;
}

.main-content {
    width: 70%;
    color: black;
}

main article {
    border: 1px solid rgb(131, 53, 53);
    padding: 1rem;
    border-radius: 5px;
    box-shadow: -5px 5px 15px 5px rgba(33, 48, 12, 0.53);
    display: flex;
    margin-top: 1rem;
    margin-right: 1rem;
}

article .p1{
    color: #333;
}

.art-img {
    max-width: 200px;
    margin-right: 20px;
}

.art-img img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}


.title {
    font-size: 1.5rem;
    font-weight: bold;
}

article .btn {
    float: right;
}

/* aside */
.side-links {
    width: 30%;
    margin-top: 5.5rem;
}

.read-by-country,
.read-by-year {
    background-color: rgba(56, 27, 84, 0.551);
    padding: 3rem;
    border-radius: 5px;
    margin-bottom: 2rem;
}

.read-by-year {
    background: yellowgreen;
}

/* search css */


.search-container {
    position: absolute;
    top: 8px;
    right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 600px;
    background-color: #f0f0f0;
    border-radius: 25px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.search-container input {
    width: 60%;
    padding: 10px 10px 10px 12px;
    border: none;
    border-radius: 25px;
    outline: none;
}

.search-container button {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-container button:hover {
    background-color: #0056b3;
}

/* footer section */
.footer {
    min-height: 50px;
    background: rgb(83, 65, 65);
    color: white;
    text-align: center;
    margin-top: 0px;
}

/* popular section */
.recc {
    margin-top: 5rem;
    background: rgba(211, 206, 199, 0.563);
    padding: 5rem 0;
}

.card-list {
    display: flex;
    justify-content: space-around;
}

.card {
    width: 250px;
    background: white;
    padding-bottom: 1rem;
    border-radius: 5px;
    box-shadow: -5px 5px 10px 5px rgba(137, 43, 226, 0.479);
    margin-top: 3rem;
}

.card img {
    height: 175px;
    border-radius: 8px 8px 0 0;
}

.card .btn {
    width: 100%;
}

.subscription {
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* media query */
@media (max-width: 1200px) {
    .main {
        display: flex;
        flex-direction: column;
    }

    .side-links {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .read-by-country,
    .read-by-year {
        width: 45%;
    }

    .side-links ul {
        list-style: none;
        font-weight: bold;
        text-decoration: underline;
        color: blueviolet;
        line-height: 1.5rem;
    }

    .card {
        width: 47%;
    }
}

@media (max-width: 768px) {
    .global-msg {
        display: none;
    }

    main article {
        display: flex;
        flex-wrap: column;
    }

    .art-img {
        max-width: 100%;
        margin-bottom: 1rem;
    }

    .title {
        margin-bottom: 1rem;
    }

    .btn {
        width: 100%;
        padding: 5px 15px;
    }

    .card {
        width: 100%;
    }

    form {
        display: flex;
        flex-direction: row;
        gap: 8px;
    }
}

/* // search display css  */


.search-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 0px; /* Adjust as needed */
}
#recommendations {
     display: none;
  position: absolute;
  background: #4e4c47;
  right: 13px;
  width: 300px; /* Adjust the width as needed */
  height: auto;
  padding: 90px;
  border-radius: 8px;
overflow-y: auto; 
  max-height: 400px; /* Set a maximum height for the scrollable area */
  top: 75px;
  
}

#recommendations img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

#recommendations h2 {
  margin-top: 8px;
  font-size: 1.5rem;
  color: #e0d126;
}
#recommendations p {
  margin-top: 4px;
  text-align: start;
  color: #f1ecf3;
}
